.modal-wrapper {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
}
.modal-wrapper .backdrop {
    position: absolute;
    z-index: 998;
    background: rgba(0, 0, 0, 0.397);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal-wrapper.active {
    display: block;
}
.modal {
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    border: 1px solid;
    background: white;
    animation-name: delay;
    animation-duration: 1s;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal__header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    padding-right: 20px;
    border-bottom: 1px solid;
}
.modal--cancel {
    font-size: 30px;
    color: yellowgreen;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
.modal--cancel:hover, .modal--cancel:active {
    color: red;
}

@keyframes delay {
    from {
        transform: translate(-50%, -100vh);
    }
    to {
        transform: translateY(-50%, -50%);
    }
}
@media (min-width: 768px) {
    .modal {
        width: 80%;
    }
}
@media (min-width: 992px) {
    .modal {
        width: 60%;
    }
}