.cart-modal {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 998;
}
.cart-modal__icon-wrapper {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 2px 3px 10px rgba(0,0,0,.15);
    position: relative;
    cursor: pointer;
}
.icon-wrapper__cart-icon {
    line-height: 50px;
    color: #555;    
    font-size: 20px;
    transform: none;
    transition: transform 0.3s ease-out;
}
.icon-wrapper__product-quantity {
    position: absolute;
    right: -6px;
    top: -6px;
    width: 24px;
    height: 24px;
    border: 2px solid white;
    line-height: 20px;
    text-align: center;
    background: black;
    border-radius: 50%;
    color: white;
    font-size: 12px;
}
.cart-modal__icon-wrapper:hover .icon-wrapper__cart-icon {
    color: #3387f2;
    transform: translateY(-3px);
}
.icon-wrapper__animation {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: cart-icon-animation 1s ease-in;
    animation-iteration-count: 3;
}

.cart-modal__cart-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    padding: 5px;
    z-index: 200;
}

.cart-modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.cart-content__products {
    width: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
}
.cart-content__products > i {
    margin: 0 auto;
    display: block;
}
.cart-content__total-price {
    width: 100%;
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 14px;
    box-sizing: border-box;
    flex-shrink: 0;
    border-left: 2px solid #ddd;
}
.total-price__row {
    display: flex;
    justify-content: space-between;
}
.total-price__total {
    margin-top: 4px;
    padding-top: 4px;
    border-top: 0.5px solid #eee;
}
.total-price__view-cart {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.view-cart__button {
    background: #2c2c2c;
    width: 130px;
    height: 26px;
    line-height: 26px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.3s; 
    font-size: 13px;
    margin: 0 15px;
    text-align: center;
    border-radius: 3px;
}
.view-cart__button:hover {
    background: #58b0da;
    text-decoration: none;
    color: white;
}

@media (min-width: 768px) {
    .cart-modal__cart-content {
        display: flex;
    }
    .cart-content__total-price {
        width: 320px;
    }
}   



/* width */
.cart-content__products::-webkit-scrollbar {
    height: 4px;
}

/* Track */
.cart-content__products::-webkit-scrollbar-track {
    background: #ddd; 
}

/* Handle */
.cart-content__products::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.cart-content__products::-webkit-scrollbar-thumb:hover {
    background: #333; 
}


@keyframes cart-icon-animation {
    0% {
        width: 0;
        height: 0;
        border: 1px solid #58b0da;
    }
    99% {
        width: 55px;
        height: 55px;
        border: 1px solid #58b0da;
    }
    100% {
        border: none;
    }
}