#root {
    background: url('https://demo4leotheme.com/prestashop/leo_mobile/themes/leo_mobile/assets/img/bg_body.png');
}
.public-site {
    width: 100%;
    margin: auto;
    background: white;
    padding: 0 25px;
}

@media (min-width: 992px) {
    .public-site {
        width: 88%;
    }
}


.img-add-to-cart {
    position: fixed;
    transition: all 1.2s ease-in-out;
    z-index: 2000;
    opacity: 0.7;
}