.home__news {
    width: 90%;
    margin: 0 auto;
}
.news__top-news {
    width: 100%;
    max-height: 100px;
    margin-bottom: 1em;
}
.news__center-news {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.center-news__carousel {
    width: 70%;
    height: auto;
    margin-right: 1em;
}
.carousel__banner {
    display: block;
    background-size: cover;
    height: 400px;
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 20px;
}
.center-news__right-news {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.right-news__top {
    height: 30%;
    margin-bottom: 1em;
}
.right-news__bottom {
    height: 70%;
}

.news__bottom-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 120px;
}
.bottom-news__left {
    padding-right: 0.5em;
    width: 50%;
    box-sizing: border-box;
}
.bottom-news__right {
    padding-left: 0.5em;
    width: 50%;
    box-sizing: border-box;
}
.bottom-news {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.bottom-news > img {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}
.bottom-news__content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    transition: all 0.4s;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 15px;
    cursor: default;
}
.bottom-news__left .bottom-news__content {
    transform: translateX(-100%);
}
.bottom-news__right .bottom-news__content {
    transform: translateX(100%);
}
.bottom-news__content > h2 {
    margin: 5px auto;
    line-height: 20px;
}
.bottom-news__content > p {
    margin: 12px auto;
}
.bottom-news__content > a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    background: black;
}
.bottom-news__content > a:hover {
    background: #3387f2;
}
.bottom-news:hover .bottom-news__content {
    transform: none;
}

.news-img {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}
.news-img > img {
    display: block;
    height: 100%;
    width: 100%;
}
.news-img::before,
.news-img::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, .1);
    transition: all 0.3s ease-in-out;
}
.news-img::before {
    top: 0;
    left: 0;
}
.news-img::after {
    bottom: 0;
    right: 0;
}
.news-img:hover::before,
.news-img:hover::after {
    width: 100%;
    height: 100%;
}
