.logo {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.search-big {
  position: relative;
  text-align: center;
}
input.search-big__text {
  border: 1px solid rgb(228, 226, 226);
  border-radius: 15px;
  height: 35px;
  box-shadow: 0 2px 2px rgb(228, 226, 226);
  outline: none;
}

input.search-big2__text {
  border: 1px solid rgb(228, 226, 226);
  border-radius: 12px;
  height: 30px;
  outline: none;
}

i.material-icons.search-big__icon {
  position: absolute;
  top: 5px;
  right: 10px;
}

.search-big input[type="text"] {
  padding-left: 15px;
}

.search-big2 input[type="text"] {
  padding-left: 15px;
}

nav {
  background: #2b2b2b;
  position: relative;
  user-select: none;
}

.toggle {
  position: relative;
  margin-top: 15px;
  height: 40px;
}
.toggle__icon {
  background: white;
  position: absolute;
  top: 4px;
  left: 4px;
  height: 32px;
  width: 35px;
}

span.toggle__icon {
  cursor: pointer;
}

.toggle__icon i.material-icons {
  margin-left: 5px;
  margin-top: 3px;
}
.search-big2 {
  display: none;
}
.navbar-big {
  display: none;
}

@media (min-width: 375px) {
  i.material-icons.search-big__icon {
    right: 10%;
  }
  /* input.search-big__text {
    margin-left: 19px;
  } */
}

@media (min-width: 414px) {
  input.search-big__text {
    width: 250px;
  }
  i.material-icons.search-big__icon {
    right: 8%;
  }
}

@media (min-width: 450px) {
  i.material-icons.search-big__icon {
    right: 15%;
  }
}

@media (min-width: 522px) {
  i.material-icons.search-big__icon {
    right: 18%;
  }
}

@media (min-width: 538px) {
  i.material-icons.search-big__icon {
    right: 20%;
  }
}

@media (min-width: 611px) {
  i.material-icons.search-big__icon {
    right: 22%;
  }
}

@media (min-width: 641px) {
  i.material-icons.search-big__icon {
    right: 25%;
  }
}

@media (min-width: 742px) {
  i.material-icons.search-big__icon {
    right: 28%;
  }
}

@media (min-width: 768px) {
  .search-big {
    display: none;
  }
  .toggle {
    height: 50px;
    position: relative;
  }
  .search-big2 {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .toggle__icon {
    top: 6px;
    left: 6px;
    height: 37px;
    width: 40px;
  }
  .toggle__icon i.material-icons {
    margin-left: 7px;
    margin-top: 6px;
  }
  i.material-icons.search-big2__icon {
    position: absolute;
    top: 3px;
    right: 10px;
  }
}

@media (min-width: 641px) {
  i.material-icons.search-big__icon {
    right: 28%;
  }
}

@media (min-width: 867px) {
  input.search-big2__text {
    margin-right: 10px;
  }
}
@media (min-width: 930px) {
  input.search-big2__text {
    margin-right: 20px;
  }
  i.material-icons.search-big2__icon {
    right: 20px;
  }
}

@media (min-width: 970px) {
  input.search-big2__text {
    margin-right: 20px;
  }
}

@media (min-width: 992px) {
  .toggle {
    display: none;
  }
  .navbar-big {
    display: block;
  }
  .search-big2 {
    right: 0px;
  }
}
@media (min-width: 1024px) {
  .logo {
    text-align: left;
  }
}
@media (min-width: 1100px) {
  .logo {
    text-align: left;
  }
}
