.page-content h1 {
  font-size: 1.5em;
  margin: 0.67em 0;
  text-align: center;
  font-weight: bold;
}

.card {
  padding: 16px;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.1);
}
.page-content__register-form {
  font-size: 13px;
  color: #4a4949;
}
.page-content__register-form a {
  color: #302f2f;
}
.login {
  padding-left: 5px;
}
.custom-radio {
  padding-right: 2px;
  padding-top: 2px;
}
label {
  margin-right: 15px;
}

.form-control {
  font-size: 14px;
  background: #ebebeb;
  color: #acaaa6;
  border: none;
  padding: 8px 16px;
  display: block;
  width: 100%;
  border-radius: 0.25rem;
}

[data-action="show-password"] {
  background: #878787;
  color: white;
  border-radius: 0;
  border: none;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}
footer {
  text-align: right;
}
.button-save {
  border-radius: 5px;
  background: blue;
  color: white;
  border: none;
  padding: 5px 10px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}
.optional {
  margin-top: 2%;
}
.form-control-label {
  margin-top: 2%;
}
.radio-choice {
  margin-top: 0;
}
button.input-group-btn.show {
  height: 36px;
  background: #7e7f80;
  border: none;
  color: white;
  width: 50px;
}

@media (min-width: 768px) {
  .card {
    margin: 0 10% auto;
  }
}

@media (min-width: 1024px) {
  .card {
    margin: 0 20% auto;
  }
}
