.news-carousel {
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative;
}
.news-carousel__wrapper {
    display: flex;
    height: 100%;
}
.wrapper__slide {
    flex: 1 0 100%;
}

.wrapper__slide > img {
    width: 100%;
    height: 100%;
}

.news-carousel__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px 12px;
    color: white;
    text-align: center;
    transition: all 0.4s;
    background: rgba(0, 0, 0, 0.2)
}
.news-carousel__arrow:hover {
    background: #3387f2;
}
.news-carousel__left-arrow {
    left: -50px;
}
.news-carousel__right-arrow {
    right: -50px;
}
.news-carousel:hover .news-carousel__left-arrow,
.news-carousel__left-arrow:hover {
    left: 10px;
}
.news-carousel:hover .news-carousel__right-arrow,
.news-carousel__right-arrow:hover {
    right: 10px;
}
.news-carousel__dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
}
.news-carousel__dots > span {
    display: inline-block;
    background: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin: 0 6px;
}
.news-carousel__dots > span:hover,
.news-carousel__dots .dots__active {
    transform: scale(1.5);
}
.news-carousel:hover .news-carousel__dots > span {
    background: white;
}