footer {
    font-size: 12px;
    overflow: hidden;
}

.slick-next:before, .slick-prev:before {
    color: #000;
}

footer .slick-slider.slick-initialized {
    width: 80%;
    margin: 0 auto;
}

footer .footer-top__logo {
    transition: all 0.4s;
    opacity: .5;
}

footer .footer-top__logo:hover {
    opacity: 1;
}

footer .footer-top__logo img {
    width: 175px;
    height: 80px;
}

.footer-center {
    border-top: 2px solid #e4e4e4;
    padding-top: 10px;
    padding-bottom: 30px;
}

.footer-center__contact , .footer-center__social , .footer-center__form {
    float: left;
    width: calc(100% / 3);
}
.footer-center__contact > ul , .footer-center__social > ul {
    list-style-type: none;
    padding: 0;
}

.footer-center__contact > ul > li {
    margin-bottom: 15px;
}

.footer-center__contact > ul > li:hover > i {
    background: #58b0da;
    color: #fff;
} 

.footer-center__contact > ul > li > i {
    vertical-align: bottom;
    background-color: #4a4a4a;
    color: #d4d4d4;
    padding: 1px 2px;
    border-radius: 5px;
    margin-right: 10px;
}

.footer-center__social {
    text-align: center;
}

.footer-center__social > ul > li {
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    line-height: 35px;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background: #4a4a4a;
    vertical-align: top;
    position: relative;
}

.footer-center__social > ul > li > a {
    color: #fff;
}

.footer-center__social > ul > li:hover {
    background: #58b0da;
} 

.footer-center__social > ul > li span {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    right: 0;
    margin-left: -60px;
}

.footer-center__social > ul > li span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 80%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.footer-center__social > ul > li:hover span {
    visibility: visible;
}

.footer-center__form {
    text-align: right;
}

.footer-center__form-btn {
    background-color: #4a4a4a !important;
    color: #fff !important;
}

.footer-center__form-btn:focus {
    outline: none;
}

.footer-center__form-input {
    width: 100%;
}
.clear {
    clear: both;
}

.footer-bottom {
    padding: 10px;
    background-color: #4a4a4a;
    color: #fff;
    padding-bottom: 1px;
}

.footer-bottom__copyright {
    width: 50%;
    float: left;
}

.footer-bottom__payment {
    width: 50%;
    float: left;
    line-height: 58px;
    text-align: right;
}

@media only screen and (max-width: 767px) {
    .footer-center__contact , 
    .footer-center__social , 
    .footer-center__form , 
    .footer-bottom__copyright , 
    .footer-bottom__payment ,
    .footer-bottom__payment img {
        width: 100%;
    }

    .footer-center__social {
        text-align: left;
    }

    .footer-bottom__copyright {
        text-align: center;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-center__contact {
        width: 100%;
    }

    .footer-center__social , .footer-center__form {
        width: 50%;
    }

    .footer-center__social {
        text-align: left;
    }
}

