ul.navbar-items {
  font-size: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

a.navbar-item__link {
  color: white;
}

li.navbar-item:hover {
  background: #58b0da;
}

span.navbar-item__categories {
  color: white;
  padding-top: 15px;
}

.table-categories__item1 a {
  color: black;
  text-decoration: none;
}

.category {
  position: relative;
}
i.material-icons.category__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-item .category {
  position: relative;
}
.table-categories {
  background: white;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  top: 50px;
  width: 500px;
  color: black;
  left: 0px;
}

.table-categories__item1 {
  flex-grow: 1;
  text-transform: none;
  padding: 10px 20px 20px 20px;
}
.table-categories__item1 div {
  padding-bottom: 10px;
  font-size: 1.1em;
}

.table-categories__item1 div:hover {
  color: #58b0da;
  cursor: pointer;
  font-style: italic;
}

.table-categories__item2 {
  flex-grow: 1;
  text-align: center;
  padding-top: 12px;
}

.table-categories__item2 img {
  width: 200px;
  height: 200px;
}

.table-categories {
  display: none;
}
.category:hover .table-categories {
  display: flex;
  animation: mymove 0.6s ease-in;
}

.table-categories__item1 item {
  background: black;
}

#active-page {
  background: #58b0da;
}

@keyframes mymove {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.table-categories__sub-item {
  display: block;
}

@media (min-width: 992px) {
  li.navbar-item.category {
    width: 125px;
  }
  .table-categories__item1 {
    line-height: 1;
  }
  li.navbar-item {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 15px;
    line-height: 50px;
  }
}

@media (min-width: 1024px) {
  li.navbar-item.category {
    width: 135px;
  }
  .table-categories {
    top: 50px;
  }
  li.navbar-item {
    padding: 0 20px;
  }
}

@media (min-width: 1100px) {
  li.navbar-item.category {
    width: 145px;
  }
  .table-categories {
    top: 50px;
  }
  li.navbar-item {
    padding: 0 25px;
  }
}
