.item-detail {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
.item-detail__general-info {
    font-size: 14px;
}
.item-detail button {
    outline: none!important;
}
.item-detail__imgs {
    height: 500px;
}
.item-detail__imgs .main-img {
    height: 65%;
    width: 100%;
    padding: 1rem;
}
.item-detail__imgs .main-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.item-detail__imgs .sub-imgs {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.item-detail__imgs .sub-imgs img {
    height: 70%;
    width: 30%;
    object-fit: cover;
    border: 1px solid gray;
    transition: 0.3s;
}
.item-detail__imgs .sub-imgs img:hover {
    transform: scale(1.2);
    border: 1px solid palevioletred;
}
.general-info__add-cart {
    margin-top: 30px;
    display: flex;
    width: 300px;
}
.general-info__add-cart .add-cart__quantity {
    width: 80px;
    display: flex;
    position: relative;
    border: 1px solid grey;
    padding: 8px;
    user-select: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 70px;
    box-shadow: 4px 5px 10px 0 rgba(0,0,0,.15);
}
.quantity-number {
    width: 38px;
    text-align: center;
}
.quantity-action {
    position: absolute;
    right: 0;
    height: 50%;
    color: #2e2e2e;
    border-left: 1px solid grey;
}
.quantity-action:hover {
    background: #2e2e2e;
    color: white;
    cursor: pointer;
}
.quantity-action:active {
    background: rgba(245, 0, 87, 0.5);
}
.quantity-incr {
    top: 0;
    border-bottom: 1px solid grey;
}
.quantity-descr {
    bottom: 0;
}

.item-detail__detail-info {
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
}
@media (min-width: 768px) {
    .item-detail {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .item-detail__imgs {
        width: 50%;
    }
    .item-detail__general-info {
        width: 50%;
        padding: 1rem;
    }
}