.previewed-item {
    min-height: 300px;
    padding: 10px;
}
.previewed-item__imgs {
    display: none;
}

.previewed-img {
    min-height: 300px;
    width: 100%;
}
.previewed-img img {
    height: 100%;
    min-height: 300px;
    width: 100%;
    object-fit: cover;
}

.previewed-item-detail {
    width: 100%;
    
}
.item-availability {
    color: white;
    display: flex;
    align-items: center;
    width: 120px;
    background: green;
    justify-content: space-around;
    font-weight: 500;
    padding: 2px 5px;
}
.previewed-item-detail__price {
    color: #f94b4b;
    font-size: 20px;
    font-weight: 600;
}
.previewed-item-detail-saleoff {
    display: flex;
    align-items: center;
    font-size: 11px;
}
.previewed-item-detail-saleoff > span:first-child {
    text-decoration: line-through;
    color: #999;
}
.previewed-item-detail-saleoff > span:last-child {
    padding: 2px;
    background: #f94b4b;
    color: white;
    margin-left: 5px;
}
.previewed-item-detail-saleoff > span:last-child::after {
    display: inline;
    content: '%';
}

.previewed-item-detail__variant {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.variant-name {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    width: 40%;
}
.variant-value {
    width: 60%;
}
.variant-value span {
    height: 30px;
    width: 30px;
    display: inline-block;
    border: 3px solid whitesmoke;
    margin-right: 10px;
    box-shadow:
        1px 0 2px grey,
        -1px 0 2px grey,
        0 -1px 2px grey,
        0 1px 2px grey;
    cursor: pointer;
}
.variant-value span:active {
    transform: scale(1.2);
}
@media (min-width: 768px) {
    .previewed-item {
        display: flex;
        justify-content: space-around;
    }
    .previewed-item__imgs {
        width: 40%;
        display: block;
    }
    .previewed-item-detail {
        width: 40%;
    }
}