.previewed-item {
    min-height: 300px;
    padding: 10px;
}
.previewed-item__imgs {
    display: none;
}

.previewed-img img {
    height: 100%;
    min-height: 300px;
    width: 100%;
    object-fit: cover;
}

.previewed-item-detail {
    width: 100%;
    
}
.item-availability {
    color: white;
    display: flex;
    align-items: center;
    width: 100px;
    background: green;
    justify-content: space-around;
    font-weight: 500;
    padding: 5px;
    margin: 1rem 0;
}
.item-availability > i {
    font-size: 18px;
}
.previewed-item-detail__price {
    color: #f94b4b;
    font-size: 20px;
    font-weight: 600;
    margin: 20px auto;
}
.previewed-item-detail-saleoff {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 5px 0;
}
.previewed-item-detail-saleoff > span:first-child {
    text-decoration: line-through;
    color: #999;
}
.previewed-item-detail-saleoff > span:last-child {
    padding: 4px;
    background: #f94b4b;
    color: white;
    margin-left: 10px;
}
.previewed-item-detail-saleoff > span:last-child::after {
    display: inline;
    content: '%';
}

.previewed-item-detail__variant {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.variant-name {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    width: 40%;
}
.variant-value {
    width: 60%;
}
.variant-value span {
    height: 30px;
    width: 30px;
    display: inline-block;
    border: 3px solid whitesmoke;
    margin-right: 10px;
    box-shadow:
        1px 0 2px #ccc,
        -1px 0 2px #ccc,
        0 -1px 2px #ccc,
        0 1px 2px #ccc;
    cursor: pointer;
}
.variant-value span:active {
    transform: scale(1.2);
}
.variant-value .active {
    outline: 1px solid black;
}
@media (min-width: 768px) {
    .previewed-item {
        display: flex;
        justify-content: space-around;
    }
    .previewed-item__imgs {
        width: 40%;
        display: block;
        height: 400px;
    }
    .main-item-img {
        height: 80%;
        width: 100%;
    }
    .main-item-img img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .sub-item-imgs {
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .sub-item-imgs img{
        height: 100%;
        width: 30%;
        object-fit: contain;
        border: 1px solid grey;
        transition: 0.2s;
    }
    .sub-item-imgs img:hover {
        border: 1px solid #f50057;
    }
    .sub-item-imgs img:active {
        transform: scale(1.2);
    }
    .previewed-item-detail {
        width: 40%;
    }
}